body {
	padding: 0;
	margin: 0;
}

button {
	background-color: white;
	border: 2px solid #555555;
	border-radius: 8px;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin: 4px 2px;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #555555;
	color: white;
}